# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

.kotlin

# vscode
.vscode
server/bin

# project-specific
database.duckdb
flight-sql-jdbc-driver.jar